In [1]:
import numpy as np

# 영화 평점을 numpy를 이용해 간단히 분석해보자

In [4]:
data = np.loadtxt('../data/u.data', dtype=np.int64)

In [5]:
data.shape

(100000, 4)

In [11]:
data[:5, :]
# 3번 째 열이 평점임

array([[      196,       242,         3, 881250949],
       [      186,       302,         3, 891717742],
       [       22,       377,         1, 878887116],
       [      244,        51,         2, 880606923],
       [      166,       346,         1, 886397596]], dtype=int64)

In [8]:
# 전체 평균 평점
stars_mean = data[:, 2]

In [9]:
stars_mean.mean()

3.52986

In [22]:
user_ids = np.unique(data[:, 0])

In [23]:
user_ids[:5]

array([1, 2, 3, 4, 5], dtype=int64)

In [24]:
user_ids.shape

(943,)

# 나도 멀지 않은 미래에는 이런 함수를 쉽게 쓸 수 있겠지!?

In [25]:
mean_rating_by_user_list = []
for user_id in user_ids:
    data_for_user = data[data[:, 0] == user_id, :]
    mean_rating_for_user = data_for_user[:, 2].mean()
    mean_rating_by_user_list.append([user_id, mean_rating_for_user])

In [26]:
mean_rating_by_user_list[:5]

[[1, 3.610294117647059],
 [2, 3.7096774193548385],
 [3, 2.7962962962962963],
 [4, 4.333333333333333],
 [5, 2.874285714285714]]

In [27]:
mean_rating_by_user_array = np.array(mean_rating_by_user_list, dtype=np.float32)

In [28]:
mean_rating_by_user_array[:5]

array([[1.       , 3.610294 ],
       [2.       , 3.7096775],
       [3.       , 2.7962964],
       [4.       , 4.3333335],
       [5.       , 2.8742857]], dtype=float32)

In [29]:
mean_rating_by_user_array.shape

(943, 2)

In [31]:
np.savetxt("../data/mean_rating_by_user.csv", mean_rating_by_user_array, fmt="%.3f", delimiter = ",")